{% extends 'base.html.twig' %}

{% block title %}Détail entreprise{% endblock %}

{% block body %}
    <h1>Détail de l'entreprise : {{entreprise}}</h1>
    <p> 
        <b>Adresse :</b> {{entreprise.adresseComplete }} <br>
        <b>Date de création : </b> {{entreprise.dateCreationFr}} 
    </p>
    <h3>Liste des salariés</h3>
    <p>
        {% if entreprise.employes | length >0 %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employé</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employe in entreprise.employes %}
                    <tr><td><a href="{{ path('show_employe', {'id':employe.id}) }}"> {{employe}} </a> </td></tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            Il n'y a pas de salariés dans cette entreprise.
            <br>
            <a href="{{ path('new_employe') }}">Ajouter un employé</a>
        {% endif %}
    </p>
    

{% endblock %}