{% extends 'base.html.twig' %}

{% block title %}Ajouter un employé{% endblock %}

{% block body %}
    <h1>Ajouter un employé</h1>

    {# on commence le formulaire pour le mettre dans le style que l'on souhaite  #}
    {{ form_start(formAddEmploye) }} 
                {# on fait une ligne avec le prenom et le nom #} 
                <div class="row">
                    <div class="col-sm">
                        {{ form_row(formAddEmploye.nom)}}
                    </div>
                    <div class="col-sm">
                        {{ form_row(formAddEmploye.prenom)}}
                    </div>
                </div>
                {{ form_row(formAddEmploye.dateNaissance)}}
                {{ form_row(formAddEmploye.ville)}}
                {# on fait une ligne avec la date d'embauche et l'entreprise  #}
                <div class="row">
                    <div class="col-sm">
                        {{ form_row(formAddEmploye.dateEmbauche)}}
                    </div>
                    <div class="col-sm">
                        {{ form_row(formAddEmploye.entreprise)}}
                    </div>
                </div>
    {# on fini le formulaire  #}
    {{ form_end(formAddEmploye) }}
{% endblock %}
